// Заголовки, загальні БЕМ блоки та інше...
.title {
	font-family: 'BN Chester Pro';

	font-weight: 700;
	@include adaptiveValue("font-size", 40, 24);
	line-height: math.div(41, 40);
	letter-spacing: 0.005em;

	span {
		color: $brownColor;
	}
}

.link-button {
	border: rem(2) solid $brownColor;
	border-radius: rem(8);
	font-weight: 700;
	@include adaptiveValue("font-size", 16, 12);
	line-height: math.div(24, 16);
	text-transform: uppercase;
	padding: rem(12) rem(34);
	display: block;
	width: fit-content;
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			background-color: $brownColor;
			color: #fff;
		}
	}
}

//========================================================================================================================================================

