@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";


// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін


// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Gilroy";
$fontSize: rem(14); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #161616; // Колір шрифту за замовчуванням
$brownColor: #D3A265;
$greyColor: #8D8D8D;

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 414;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1171;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {

	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	// Сайт завантажений
	.loaded & {}
}

// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	@supports (overflow: clip) {
		overflow: clip;
	}

	// Притискаємо footer
	>main {
		flex: 1 1 auto;
	}

	// Фікс для слайдерів
	>* {
		min-width: 0;
	}
}

// Обмежуючий контейнер ======================================================================================================================================================================================================================
/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {

	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}

			@else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
}

@else {

	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		}

		@else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}

		@media (max-width: $pc) {
			max-width: rem(970);
		}

		@media (max-width: $tablet) {
			max-width: rem(750);
		}

		@media (max-width: $mobile) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

//========================================================================================================================================================
.page {

	&__main-block {}
}

.main-block {
	position: relative;
	padding: rem(203.5) rem(0);



	&__container {}

	&__body {

		@include adaptiveValue("max-width", 570, 300);


	}

	&__header {}

	&__title {
		font-family: 'BN Chester Pro';
		font-weight: 700;
		@include adaptiveValue("font-size", 66, 30);
		line-height: math.div(64, 66);
		letter-spacing: 0.01em;
		color: #3D3737;

	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 170%;
		@include adaptiveValue("max-width", 382, 200);
		margin: rem(32) rem(0) rem(54) rem(0);
	}

	&__link {}

	&__background {

		position: absolute;
		right: 0;
		top: 0;
		@include adaptiveValue("width", 705, 200);

		img {
			position: absolute;
			object-fit: cover;
			bottom: 0;
			height: auto;
			width: 100%;

			@media (max-width:$mobile) {
				position: relative;
			}
		}

		@media (max-width:$mobile) {

			width: 100%;
			height: 50%;




		}
	}
}

//========================================================================================================================================================

.page {

	&__about {}
}

.about {
	padding: rem(71) rem(0);

	background-color: #F4F4F4;

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width:$mobile) {
			flex-direction: column;
			gap: rem(30);
		}
	}

	&__header {
		flex: 0 1 43%;

	}

	&__title {
		max-width: rem(118);

		@media (max-width:$mobile) {
			max-width: 100%;
		}


	}

	&__content {
		flex: 0 1 57%;
	}

	&__text {
		display: flex;
		flex-direction: column;
		row-gap: rem(30);
		font-weight: 400;
		@include adaptiveValue("font-size", 16, 12);
		line-height: 170%;

	}
}


//========================================================================================================================================================

.page {

	&__services {}
}

.services {
	padding: rem(80) rem(0) rem(80) rem(0);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	&__header {}

	&__title {}

	&__content {
		padding-top: rem(84);
	}

	&__columns {
		display: flex;
		justify-content: space-between;
		gap: rem(30);

		@media (max-width:$tablet) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);

		}

		@media (max-width:$mobileSmall) {
			grid-template-columns: 1fr;
		}

	}

	&__column {}

	&__link {
		margin-top: rem(84);

	}
}

.title {}

.column-services {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__icon {
		height: rem(92);
		display: flex;
		align-items: center;
		justify-content: end;

	}

	&__label {
		padding: rem(42) rem(0) rem(19) rem(0);
		font-weight: 600;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(22, 18);
		text-align: center;
	}

	&__text {
		max-width: rem(270);
		text-align: center;
		font-weight: 400;
		@include adaptiveValue("font-size", 16, 12);
		line-height: 170%;
		color: $greyColor;
	}
}

//========================================================================================================================================================


.page {

	&__portfolio {}
}

.portfolio {
	background-color: #F4F4F4;
	padding: rem(78) rem(0);

	&__container {
		position: relative;
	}

	&__header {
		text-align: center;
	}

	&__title {}

	&__tabs {}

	&__link {
		position: absolute;
		top: rem(124);
		right: rem(15);
		font-weight: 600;
		@include adaptiveValue("font-size", 16, 12);
		line-height: math.div(20, 16);
		text-decoration-line: underline;
		transition: color 0.3s ease 0s;

		@media (max-width:$mobile) {

			position: relative;

		}

		@media (any-hover: hover) {
			&:hover {
				color: $brownColor;
			}
		}
	}
}

.title {}

.tabs-portfolio {
	margin-top: rem(85);

	&__navigation {
		display: flex;
		@include adaptiveValue("column-gap", 59, 15);
		column-gap: rem(59);

		@media (max-width:$mobile) {
			justify-content: center;

		}


	}

	&__title {
		font-weight: 400;
		@include adaptiveValue("font-size", 16, 12);
		line-height: math.div(19, 16);

		&._tab-active {
			color: $brownColor;
		}

		@media (max-width:$mobile) {
			&:not(:last-child) {
				padding-right: rem(15);
			}
		}
	}

	&__content {
		margin-top: rem(28);

		@media (max-width:$mobile) {
			display: flex;
			flex-direction: column;
			row-gap: rem(15);

			button {
				text-align: left;
				width: 100%;
			}
		}
	}

	&__body {
		@media (max-width:$mobile) {
			padding: rem(30) rem(0);

		}
	}

	&__images {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: rem(30);
		row-gap: rem(20);

		@media (max-width:$mobile) {
			grid-template-columns: repeat(2, 1fr);
			@include adaptiveValue("row-gap", 40, 10);

		}

		@media (max-width:$mobileSmall) {
			grid-template-columns: 1fr;
		}
	}

	&__image {
		overflow: hidden;
		border-radius: rem(10);

		@media (max-width:$mobile) {
			display: flex;
			justify-content: center;
			align-items: center;

		}

		img {
			border-radius: rem(10);
			transition: all 0.3s ease 0s;

			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.1);
				}
			}

			@media (max-width:$mobileSmall) {
				border-radius: rem(0);

			}
		}
	}
}


//========================================================================================================================================================
.page {

	&__pricing {}
}

.pricing {
	padding: rem(102) rem(0);

	&__container {}

	&__header {
		text-align: center;
	}

	&__title {}

	&__content {
		padding-top: rem(70);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__columns {
		display: flex;
		@include adaptiveValue("gap", 82, 55);

		@media (max-width:$tablet) {
			flex-direction: column;
		}

	}

	&__column {

		span {
			width: rem(194);
			display: block;
			border-bottom: 1px solid $brownColor;
			margin: rem(27) rem(0);

		}
	}


}



.column-pricing-main {
	color: #fff;

	span {
		width: rem(194);
		display: block;
		border-bottom: 1px solid #fff;
		margin: rem(27) rem(0);
	}

	.column-pricing__button {
		border: 2px solid #fff;
		background: #fff;
		color: $mainColor;
		transition: color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}

		@media (max-width:$tablet) {
			background: $brownColor;
			border: 0px;
			outline-color: #fff;
			color: #fff;
			width: 100%;

		}

	}

	.column-pricing-price {
		&__duration {
			@media (max-width:$tablet) {
				color: #fff;
			}
		}
	}

	@media (max-width:$tablet) {

		&::before {
			position: absolute;
			bottom: rem(42);
			z-index: 5;
			left: rem(-2);
			content: '';
			height: rem(1);
			width: rem(274);
			background: #fff;
		}
	}

}

.column-pricing {
	padding: rem(32) rem(38);
	text-align: center;
	background-color: #FDFBF8;
	border: 2px solid #D3A265;
	border-radius: rem(10);

	@media (max-width:$tablet) {
		padding: rem(32) rem(38) rem(76) rem(38);
		position: relative;
		border: 1px solid #D3A265;
	}

	&.column-pricing-main {
		background-color: $brownColor;
	}

	&__title {
		font-family: 'BN Chester Pro';
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 20);
		line-height: math.div(23, 24);

		&:not(:last-child) {
			padding-bottom: rem(31);
		}
	}

	&__price {
		display: flex;
		flex-direction: column;
		row-gap: rem(7);
	}

	&__list {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("row-gap", 13, 5);

	}

	&__item {}

	&__link {
		font-weight: 600;
		@include adaptiveValue("font-size", 15, 12);

	}

	&__button {
		display: inline-block;
		margin-top: rem(54);
		padding: rem(12) rem(34);
		font-weight: 700;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(24, 16);
		text-transform: uppercase;
		border: 2px solid $brownColor;
		border-radius: rem(8);
		transition: background-color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: $brownColor;
			}
		}

		.column-pricing-main {
			border: 2px solid #fff;
			background: #fff;
			color: $mainColor;
		}

		@media (max-width:$tablet) {
			position: absolute;
			bottom: 0;
			background-color: $brownColor;
			width: 100%;
			color: #fff;
			left: 0;
			padding: rem(11) rem(34);
			border-radius: rem(0) rem(0) rem(8) rem(8);
		}
	}


}

.column-pricing-price {
	@media (max-width:$tablet) {
		flex-direction: row;
		column-gap: rem(13);
		align-items: flex-end;
		justify-content: center;
	}

	&__value {
		font-family: 'BN Chester Pro';
		font-weight: 400;
		@include adaptiveValue("font-size", 44, 30);
		line-height: math.div(43, 44);

	}

	&__duration {
		font-family: 'BN Chester Pro';
		font-style: normal;
		font-weight: 500;
		@include adaptiveValue("font-size", 18, 16);
		line-height: math.div(17, 18);

		@media (max-width:$tablet) {
			color: #BBBBBB;
		}
	}
}